.layout-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}


#main-view {
  margin-left: 250px;
  width: calc(100% - 250px);
  padding: 20px;
  background-color: #0f172a; /* oscuro elegante */
  min-height: 100vh;
}

.content {
  margin-left: 250px; 
  padding: 20px;
  width: calc(100% - 250px);
  min-height: 100vh;
  background-color: #f8f9fa;
}



.category-title {
  color: #adb5bd;
  font-size: 12px;
  padding: 10px 20px;
  text-transform: uppercase;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background: linear-gradient(180deg, #1f1f1f, #111);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 👈 empuja el footer abajo */
  z-index: 999;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

/* LINKS */
.sidebar-link {
  color: #e4e4e4;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.sidebar-link:hover {
  background-color: #343a40;
  padding-left: 25px;
}

/* TITULO */
.brand-title {
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding: 20px;
  border-bottom: 1px solid #333;
}

/* FOOTER */
.sidebar-footer {
  padding: 20px;
}

/* BOTÓN CERRAR SESIÓN 🔥 */
.sidebar-footer button {
  width: 100%;
  background: #dc2626;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.sidebar-footer button:hover {
  background: #b91c1c;
  transform: scale(1.05);
}