.tabla-container {
  width: 95%;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  box-sizing: border-box; 
  overflow-x: auto;
}

.tabla-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.tabla-header input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.btn-add {
  background: #22c55e;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background: #f3f4f6;
}

.btn-edit {
  background: orange;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-delete {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
